# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
graphviz
ipykernel
ipython
keras
keras-tuner
matplotlib
nbconvert
numpy
pandas
pillow
plotly
pydotplus
scikit-learn
scipy
seaborn
statsmodels
tabulate
tensorflow
